<Action>
  <Thought><![CDATA[
Generated a Python program to address the task: {{ task }} based on history: {{ history_str }}
]]></Thought>
  <Code><![CDATA[
{{ program }}
  ]]></Code>
  <Metadata>
    <StepNumber>{{ current_step }}</StepNumber>
    <MaxIterations>{{ max_iterations }}</MaxIterations>
    <Task><![CDATA[{{ task }}]]></Task>
  </Metadata>
</Action>