## Your task to solve:
<task>
{{ task }}
</task>

### Tools:
-----------------------------
{{ tools_prompt }}

### Variables:
-----------------------------
{{ variables_prompt }}

!! Remember each variable start with $ and end with $. Be very careful with variable interpolation.
