To accomplish this task, you have access to these tools:

{{ tool_names }}

Instructions:

1. Select ONE tool per message
2. You will receive the tool's output in the next user response
3. Choose the most appropriate tool for each step
4. If it's not asked to write on files, don't use write_file tool
5. If files are written, then use tool to display the prepared download link
6. Give the final full answer using all the variables
7. Use task_complete tool to confirm task completion with the full content of the final answer
